<!--<div class="container-fluid">
    <h1>
        Input Form
    </h1>
    <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
    </div>

    <form #userForm="ngForm" *ngIf="!submitted" novalidate (ngSubmit)="onsubmit()">
        {{userForm.value | json}}
        <hr />
        {{ usermodel | json}}
        {{userForm.form.valid}}
        <div class="form-group">
            <label>
                Name
            </label>
            <input type="text" #name="ngModel" class="form-control" [class.is-invalid]="name.invalid && name.touched" name="name" [(ngModel)]="usermodel.name" required>
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required</small> 
        </div>
        <div class=form-group>
            <label>
                Email
            </label>
            <input type="email" class="form-control" name="email" [(ngModel)]="usermodel.email">
        </div>
        <div class=form-group>
            <label>
                phone-no
            </label>
            <input type="tel" class="form-control" #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" name="phone" required [(ngModel)]="usermodel.phone">-->
            <!--<small class="text-danger" [class.d-none]="phone.untouched || phone.valid">Phone number is required and must be 10 digits</small>-->
            <!--<div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                <small class="text-danger" *ngIf="phone.errors.required">
                    phone number is required
                </small>
                <small class="text-danger" *ngIf="phone.errors.pattern">
                    phone number must be 10 digits
                </small>
            </div>
        </div>
        <div class="form-group">
            <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" #topic="ngModel" [class.is-invalid]="topichaserror && topic.touched" class="custom-select" name="topic" [(ngModel)]="usermodel.topic">
                <option value="default">I am interested in</option>
                <option *ngFor="let topic of topics"> 
                    {{topic}}
                </option>
            </select>
            <small class="text-danger" [class.d-none]="!topichaserror || topic.untouched">
                please choose a topic
            </small>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="check" [(ngModel)]="usermodel.check">
            <label class="form-check-label">
                send me offers
            </label>
        </div>
        <button [disabled]="userForm.form.invalid || topichaserror" class="btn btn-primary" mat-raised-button type="submit">submit</button>
    </form>
</div>-->
<app-c1></app-c1>